{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block beforehead %}
<script>
<!-- 这里想用VUE框架来做分页，未遂 -->
<!--var-->
    <!--pages = '{{ page }}';-->

<!--$(function (){-->
    <!--var vm = new Vue({-->
        <!--el:'#vm',-->
        <!--data:{page: pages},-->
        <!--method:{}-->
    <!--})-->
<!--});-->

</script>
{% endblock %}


{% block content %}
    <div class="uk-width-medium-3-4">
    {% for blog in blogs %}
        <article class="uk-article">
            <h2><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
            <p class="uk-article-meta">发表于{{ blog.created_at|datetime }}</p>
            <p>{{ blog.summary }}</p>
            <p><a href="/blog/{{ blog.id }}">继续阅读 <i class="uk-icon-angle-double-right"></i></a></p>
        </article>
        <hr class="uk-article-divider">
    {% endfor %}
        <!-- 继承__base__.html里的方法，用于分页 -->
    {{ pagination('/?page=', page) }}
    <!--<div v-component="pagination" v-with="page"></div>-->
    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.liaoxuefeng.com/">廖大大官网</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="https://tech.meituan.com/">美团点评技术团队</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://jm.taobao.org/">阿里中间件团队</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="https://github.com/hk20088">My GitHub</a></li>
            </ul>
            <hr style="height:20px;">
            <h3 class="uk-panel-title">个人信息</h3>
            <ul class="uk-list uk-list-line">
                <li>姓名：胡可</li>
                <li>Q Q：927572766</li>
                <li>Email: 927572766@qq.com</li>
                <li>微信：huke_leon</li>
                <li>职业：JAVA&Python工程师</li>
                <li>GitHub地址：<a target="_blank" href="https://github.com/hk20088">点我查看</a></li>
            </ul>
            <hr style="height:20px;">
        </div>
    </div>

{% endblock %}